<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>     
        <p>
          Select register
        </p>
      </div>
      </section>
      <br>
      <br>
      <br>
    <div>
        <form method="post">
            <button class="button is-info">
            <input type="submit" class="button is-info" name="button" value="state">
            </button>
            <button class="button is-info">
            <input type="submit" class="button is-info" name="button" value="total_value">
            </button>
             <button class="button is-info">
            <input type="submit" class="button is-info" name="button" value="status">
             </button>
            <br>
            <br>
            <br>
            <input type="submit" class="button is-info" value="home">
        </form>
    </div>
  </body>
