<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="header">
        <h1>Update register</h1>      
    </section>
<br>
<br>
<br>
<form method="post">
    <p class="tag is-info" style="width:230px;height:35px;font-size:20px">Type id:</p>
    <input type="text" name="type id">
    <br>
    <br>
    <input type="submit" class="button is-info" value="Filter">
    <br><br><br>
    <p class="tag is-info" style="width:230px;height:35px;font-size:20px">Update by:</p>
    <select name=update_register method="GET" action="/">
        {% for update in update_register %}
        <option value="{{update}}" SELECTED>{{update}}</option>
        {% endfor %}
    </select>
</form>

<br>
<input class="button is-info" type="submit" value="Filter">
</body>
</html>
