<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Welcome Rent Now! </title>   
</head>
<body>

    <section class="header">
            <h1>Welcome Rent Now!</h1> 
            <div>
                <center>
                    <img src = "static/imagens/logotipo_branco.png" width="200px" > 
                </center>
            </div>   
    </section>

</section>
    
       
    <section class="section-container background-section-one">
        <div class="background-section-one"></div> 
           
    <div>
            <center>
                 <form method="post">
                        <input type="submit" class="button is-info"  name="button" value="Register loft">
                        <input type="submit" class="button is-info"  name="button" value="Select loft"> 
                        <input type="submit" class="button is-info"  name="button" value="Select all lofts">
                        <input type="submit" class="button is-info"  name="button" value="Update register">
                        <input type="submit" class="button is-info"  name="button" value="Delete register">                         
                 </form>
            </center>
        </div>
    </section>     
        <section class="footer">
            <p>All rights reserved. </p>  
        </section>

</body>
</html>



