<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Rent Now!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
      <section class="hero is-info">
      <div class="hero-body">
        <p class="title">
          Rent Now
        </p>
        <p class="subtitle">
          Providing quality and comfort since 1992!
        </p>
      </div>
    </section>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Welcome!
      </h1>
    </div>
  </section>
  </body>
</html>

<html>
<body>
    <center>
            <img src="static/imagens/logotipo_branco.png"
            width="200px">
    </center>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<html>
    <head>
        <title>LOFTS_MENU</title>
    </head>
    <body>
        <div>
            <center>
                 <form method="post">
                        <button class="button is-info">
                         <input type="submit" class="button is-info"  name="button" value="Register loft">
                        </button>
                        <button class="button is-info">
                            <input type="submit" class="button is-info"  name="button" value="Select loft">
                        </button>
                          <button class="button is-info">
                            <input type="submit" class="button is-info"  name="button" value="Select all lofts">
                          </button>
                          <button class="button is-info">
                            <input type="submit" class="button is-info"  name="button" value="Update register">
                          </button>
                         <button class="button is-info">
                         <input type="submit" class="button is-info"  name="button" value="Delete register">
                         </button>
                 </form>
            </center>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <strong>Rent Now</strong><a href="https://jgthms.com"></a>. The source code is licensed
              <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
              is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
          </div>
        </footer>
    </body>
</html>

