<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Rent Now!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <section class="header">
        <h1>Lofts_register</h1> 
    </section>
        <div>
            <form method="post">
                <br>
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px">State:</p>
                    <input style="width:230px;height:30px" type="text" name="state">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px">City:</p>
                <input style="width:230px;height:30px" type="text" name="city">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px">District:</p>
                <input style="width:230px;height:30px" type="text" name="district">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px">Address:</p>
                <input style="width:230px;height:30px" type="text" name="address">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px">Number:</p>
                <input style="width:230px;height:30px" type="text" name="number">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px">floor:</p>
                <input style="width:230px;height:30px" type="text" name="floor">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Size_m2:</p>
                <input style="width:230px;height:30px" type="text" name="size_m2">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Garage:</p>
                <input style="width:230px;height:30px" type="text" name="garage">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Value:</p>
                <input style="width:230px;height:30px" type="text" name="value">
                <br>
                <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Condominium:</p>
                <input style="width:230px;height:30px" type="text" name="condominium">
                    <br>
                    <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Iptu: </p>
                <input style="width:230px;height:30px" type="text" name="iptu">
                    <br>
                    <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Total_value:</p>
                <input style="width:230px;height:30px" type="text" name="total_value">
                    <br>
                    <br>
                <p class="tag is-info" style="width:230px;height:35px;font-size:20px"> Status:</p>
                <input style="width:230px;height:30px" type="text" name="status">
                    <br>
                    <br>
                    <br>
                    <br>
                    <input type="submit" class="button is-info"  name="button" value="Register">  
                    <br>
            </form>
        </div>
    </body>
</html>
