<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome Rent Now!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <section class="header">
        <h1>Lofts_register</h1> 
    </section>
        <div>
            <form method="post">
                <br>
                <br>
                <br>
                <section class="text-input">
                    <p>State: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="state">  
                </section>
                <br>
                <section class="text-input">
                    <p>City: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="city">  
                </section>
                <br>
                <section class="text-input">
                    <p>District: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="district">  
                </section>
                <br>
                <section class="text-input">
                    <p>Address: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="address">  
                </section>
                <br>
                <section class="text-input">
                    <p>Number: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="number">  
                </section>
                <br>
                <section class="text-input">
                    <p>Floor: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="floor">  
                </section>
                <br>
                <section class="text-input">
                    <p>Size_m2: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="size_m2">  
                </section>
                <br>
                <section class="text-input">
                    <p>Garage: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="garage">  
                </section>
                <br>
                <section class="text-input">
                    <p>Condominium: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="condominium">  
                </section>
                <br>
                <section class="text-input">
                    <p>Iptu: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="iptu">  
                </section>
                <br>
                <section class="text-input">
                    <p>Total_value: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="total_value">  
                </section>
                <br>
                <section class="text-input">
                    <p>Status: </p>  
                </section>
                <br>
                <section class="input">
                    <input name="status">  
                </section>
                    <br>
                    <br>
                    <input type="submit" class="button is-info"  name="button" value="Register">  
                    <br>
            </form>
        </div>
        <br>
<br>
<br>
    <section class="footer">
        <p>All rights reserved. </p>  
    </section>
    </body>
</html>
